<h4>New Pet</h4>
<form action="/pets" method="post">
<div class="input-field">
    <label>Pet Name: </label>
    <br>
    <input type="text" name="pet[name]" id="pet_name" value="">
    <br>
</div>
<div class="input-field">
    <label>Pet Species: </label>
    <br>
    <input type="text" name="pet[species]" id="pet_species" value="">
</div>
    <br>
    <br>
    <h6>Add Your Pet to a Household:</h6>

        <% current_user.households.each do |household| %>
        <p>
        <label>
            <input class="with-gap" type="radio" name="pet[household_id]" id="<%= household.id %>" value="<%= household.id %>"/> 
            <span><%=household.name %></span>
        </label>
        <p>
        <% end %>

    <br>
    <input type="submit" value="Create Pet" class="waves-effect waves-light btn-small">
</form>
 