    <h2>New Pet</h2>
    <form action="/pets" method="post">
    <label>Pet Name: </label>
    <br>
    <input type="text" name="pet[name]" id="pet_name" value="">
    <br>
    <label>Pet Species and/or Breed: </label>
    <br>
    <input type="text" name="pet[species]" id="pet_species" value="">
    <br><br>
    <h1>Add Your Pet to a Household</h2>
        <% current_user.households.each do |household| %>
        <li><input type="checkbox" name="user[household_id]" id="<%= household.id %>" value="<%= household.id %>"><%=household.name %></li>
        <br>
    <% end %>
    <input type="submit" value="Create Pet">
    </form>
    <br><br>