<h1><%= @user.username %>'s Critter Sitter Homepage</h1>

<h3>Your Household(s):</h3>
    <ul>
    <%@households.each do |household|%>
    <li> • <a href="/households/<%=household.id%>"><%= household.name %></a></li>
    <%end%>
    </ul>
<br>
<br>

<a href="/users/edit">Join an Existing Household</a> or <a href="/households/new">Create a New Household</a>


