<h1><%= current_user.username %>'s Critter Sitter Homepage</h1>

<h3>Your Household(s):</h3>
    <%@households.each do |household|%>
    <ul><a href="/households/<%=household.id%>"><%= household.name %></a></ul>
    <%end%>
<br>
<br>

If you don't see your Household,  <a href="/households/new">Join or Create a Household</a>.


