<h1>Welcome to Critter Sitter</h1>

<h3>Login to Review Your Critters:</h3>
<form action="/login" method="post">
   <label for="username"> Username: </label>
   <input id="username" type="text" name="user[username]"><br>
   <label for="password"> Password: </label>
   <input id="password" type="password" name="user[password]"><br>
   <input type="submit" value="Login"><br>
</form>
<br>
<a href="/signup">Sign Up</a> to Create and Account.
