<div class="flash">
    <% if flash[:error_message]%>
        <h3 style="color: red:"><%=flash[:error_message]%></h3>
    <% elsif flash[:sucess_message]%>
        <h3 style="color: green:"><%=flash[:sucess_message]%></h3>
    <%end%>
</div>