<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
<h1>Your Critter Sitter Homepage</h2>
<br>
<h4>View your Household(s):</h4>
<li>households</li>
<br>

<p> If you don't see your Household,  <a href="/households/new">Join or Create a Household</a>. </p>
<br>
<a href="/logout">Log Out</a> 
</body>
</html>