<h1> Update Household</h1>

<form action="/households/<%=@household.id%>" method="post">
<input id="hidden" type="hidden" name="_method" value="patch">

    <label>Update Household Name: </label>
    <br>
    <input type="text" name="household[name]" id="household_name" value="<%=@household.name%>">
    <br>
    <br>
    <input type="submit" value="Update Household">
</form>

<form method="post" action="/households/<%= @household.id %>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Household"> 
</form>




