<h4> Update Household</h4>

<form action="/households/<%=@household.id%>" method="post">
<input id="hidden" type="hidden" name="_method" value="patch">
<div class="input-field">
    <label>Update Household Name: </label>
    <input type="text" name="household[name]" id="household_name" value="<%=@household.name%>">
</div>
    <br>
    <input type="submit" value="Update Household" class="waves-effect waves-light btn-small">
</form>

<form method="post" action="/households/<%= @household.id %>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Household" class="waves-effect waves-light btn-small"> 
</form>




