<h2>Create a New Household</h2>

<form action="/households" method="post">
<div class="input-field">
    <label>New Household Name: </label>
    <input type="text" name="household[name]" id="household_name">
</div>
    <input type="submit" value="Create Household" class="btn">
    
</form>
