<form action="/households" method="post">
<h3>Create a Household</h3>
    <label for="name"> Name: </label>
    <input id="name" type="text" name="household[:name]"><br><br>

    <input type="submit" value="Create Household">
</form>
