<form action="/households" method="post">

<h3>Select an existing Household or create a new one below.</h3>

    <% @households.each do |household| %>
        <input type="checkbox" name="user[household_ids][]" id="<%= household.id %>" value="<%= household.id %>" <%= 'checked' if household.users.include?(current_user) %>><%=household.name %><br>
    <% end %>
    <br>

    <label>New Household Name: </label>
    <br>
    <input type="text" name="household[name]" id="household_name">
    <br><br>


    <input type="submit" value="Create/Update Household(s)">
</form>
