<h1>Select an existing Household or create a new one below.</h1>

<form action="/households" method="post">
    <label>New Household Name: </label>
    <br>
    <input type="text" name="household[name]" id="household_name">
    <br>
    <br>

    <input type="submit" value="Create Household">
</form>
