<h1>Pets of <%=@household.name%></h1>
<ul>
  <%@household.pets.each do |pet|%>
  <li><a href="/pets/<%=pet.id%>"><%=pet.name%></a></li> 
  <%end%>
</ul>
<p>
<br><br>
<a href="/households/<%=@household.id%>/edit">Edit this Household.</a>
</p>



