<h1>Pets of <%=@household.name%></h1>

<% if @household.pets.empty?%>
    This household current has no pets.
  <%else%>
    <ul>
    <%@household.pets.each do |pet|%>
     <li> • <a href="/pets/<%=pet.id%>"><%=pet.name%></a></li>
    <%end%>
    </ul>
  <%end%>
<br>
<br>
  <form action="/pets/new" method="get">
  <input type="submit" value="Create New Pet">
  </form>
<br>
<%if @household.owner_id == current_user.id %>
  <form action="/households/<%=@household.id%>/edit" method="get">
  <input type="submit" value="Edit Household">
  </form>
<%else%>
  <form action="/users/edit" method="get">
  <input type="submit" value="Remove this household">
  </form>
<%end%>




